<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <script src="{% static 'script.js' %}" defer></script>
  <style>
  .imgleft{
    background-image: url("{{services.0.image.url}}");
  }
  </style>
  <script>
    var ds1 = "{{services.0.description}}";
    var ds2 = "{{services.1.description}}";
    var ds3 = "{{services.2.description}}";
    var ds4 = "{{services.3.description}}";
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <title>LifeStyle Agency</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="contactpop">
    <div class="gauche">
      <div id="topleft">
        <p class="titre" id="left">Immersion</p>
        <div class="deco2"></div>
        <p class="desc" id="Desc">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
      </div>
      <div>
      <div class="socialntwrks">
        <a href="{{reseaux.CompteInsta}}"><span class="insta fab fa-instagram"></span>  {{reseaux.insta}}</a>
        <a href="{{reseaux.CompteYoutube}}"><span class="ytb fab fa-youtube"></span>  {{reseaux.youtube}}</a>
      </div>
      <div id="divimg" class="imgleft"></div>
      </div>
    </div>
    <div class="droite">
    <p>Formulaire</p>
    <form id="myForm" action="https://formspree.io/f/xrgrywkr" method="post">
        <input type="text" id="fname" placeholder="Votre Nom" name="Prénom"><br><br>
        <input type="email" placeholder="Adresse e-mail" id="lname" name="email" required><br><br>
        <textarea id="content" name="message" placeholder="Vos éxigences"></textarea><br><br>
      <select id="dropdown" name="sujet">
        <option>Contact</option>
        <option>{{services.0.title}}</option>
        <option>{{services.1.title}}</option>
        <option>{{services.2.title}}</option>
        <option>{{services.3.title}}</option>
      </select> 
      <br><br>
      <button class="submit" type="submit">Envoyer</button><br>
    </form></div>
    <button id="close">X</button>
  </div>
  <div id="total" class="cont">
    <div id="naav" class="nav">
    <ul class="navbar-default">
        <li><a href="#LF">LifeStyle</a></li>
        <li><a href="#about">A propos</a></li>
        <li><a href="#services">Services</a></li>
        <li id="contactbtn"><a href="#contact">Contact</a></li>
    </ul>
    </div>
  <div class="container" id="LF">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="zoom"src="{% static 'img/la.jpg' %}" alt="img1" style="width:100%; object-fit: contain; position:absolute;">
          <div class="legend"><p>Amenez vos followers dans une vidéo immersion d'une journée décorée par le luxe</p><p>À partir de 80€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          </div>
        <div class="item">
          <img class="zoom"src="{% static 'img/chicago.jpg' %}" alt="img2" style="width:100%; object-fit: contain;">                           
          <div class="legend"><p>Amenez vos followers dans une vidéo immersion d'une journée décorée par le luxe</p><p>À partir de 80€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          <div class="carousel-caption" style="text-align: center; object-fit:cover;
          vertical-align: middle;">
          </div>
        </div>
        <div class="item">
          <img class="zoom" src="{% static 'img/ny.jpg' %}" alt="img3" style="width:100%; object-fit: cover;">
          <div class="legend"><p>Amenez vos followers dans une vidéo immersion d'une journée décorée par le luxe</p><p>À partir de 80€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="about" class="about">
      <h3>LifeStyle Agency</h3>
      <div class="deco"></div>
      <div class="write">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales massa consequat scelerisque accumsan. Nulla blandit facilisis libero, vitae sodales mauris dignissim quis. Nulla eget ipsum non est posuere tempus. In accumsan egestas leo vitae pulvinar. Praesent nec varius dolor. Pellentesque egestas nibh et fermentum sollicitudin. Ut tincidunt nunc eu tincidunt elementum. Cras ac accumsan arcu, quis dignissim metus. Mauris eleifend risus nisl, non dignissim ex bibendum ac. Vivamus accumsan libero euismod diam sollicitudin bibendum.</p>

  <p> Suspendisse hendrerit nunc id mauris viverra viverra. Integer lobortis mauris nec elit mollis sodales. Suspendisse elit tellus, aliquam vel quam non, eleifend elementum risus.Donec in elementum sapien, eget luctus ex. Sed a finibus lacus, eu fermentum elit. Morbi maximus pretium augue sit amet facilisis. Nam tristique leo sed lorem aliquet, sed dapibus dolor faucibus. Suspendisse nec odio eros. Phasellus pellentesque, lacus vel placerat dapibus, libero magna interdum justo, nec vestibulum neque lectus vitae mi. Maecenas pharetra erat vitae nulla aliquam pretium. Duis a faucibus nisi.</p>
  <div class="chiffre">
        <div class="chi"></div>
        <div class="chi"></div>
      </div>
      </div>
    </div>
    <div id="services" class="services">
      <h3>Services</h3>
      <div class="deco"></div>
      <div class="ligneservice">
        <div>
          <div id="Immersion" class="s"></div>
          <h4>{{services.0.title}}</h4>
        </div>
        <div>
          <div id="Prestige" class="s"></div>
          <h4>{{services.1.title}}</h4>
        </div>
      </div>
      <div class="ligneservice">
        <div>
          <div id="Uber" class="s"></div>
          <h4>{{services.2.title}}</h4>
        </div>
        <div>
          <div id="Air" class="s"></div>
          <h4>{{services.3.title}}</h4>
        </div>
    </div>
  </div>
  </div>
</body>
</html>