<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <script src="{% static 'script.js' %}" defer></script>
  <script>
    var img1 = "{{services.0.photo.url}}";
    var img2 = '{{services.1.photo.url}}';
    var img3 = "{{services.2.photo.url}}";
    var img4 = "{{services.3.photo.url}}";
    var ds1 = "{{services.0.description}}";
    var ds2 = "{{services.1.description}}";
    var ds3 = "{{services.2.description}}";
    var ds4 = "{{services.3.description}}";
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <title>LifeStyle Agency</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="contactpop">
    <div class="gauche">
      <div id="topleft">
        <p class="titre" id="left">Immersion</p>
        <div class="deco2"></div>
        <p class="desc" id="Desc">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
      </div>
      <div>
      <div class="socialntwrks">
        <a href="{{reseaux.CompteInsta}}"><span class="insta fab fa-instagram"></span>  {{reseaux.insta}}</a>
        <a href="{{reseaux.CompteYoutube}}"><span class="ytb fab fa-youtube"></span>  {{reseaux.youtube}}</a>
      </div>
      <div class="imgleft"><img id="divimg" class="imgleft" src="" alt="img"></img></div>
      </div>
    </div>
    <div class="droite">
    <p>Formulaire</p>
    <p style="font-size: 12px; margin-bottom: 40px">ou contactez nous sur Instagram</p>
    <form id="myForm" action="https://formspree.io/f/xrgrywkr" method="post">
        <input type="text" id="fname" placeholder="Votre Nom" name="Prénom"><br><br>
        <input type="email" placeholder="Adresse e-mail" id="lname" name="email" required><br><br>
        <textarea id="content" name="message" placeholder="Vos éxigences"></textarea><br><br>
      <select id="dropdown" name="sujet">
        <option>Contact</option>
        <option>{{services.0.title}}</option>
        <option>{{services.1.title}}</option>
        <option>{{services.2.title}}</option>
        <option>{{services.3.title}}</option>
      </select> 
      <br><br>
      <button class="submit" type="submit">Envoyer</button><br>
    </form></div>
    <button id="close">X</button>
  </div>
  <div id="total" class="cont">
    <div id="naav" class="nav">
    <ul class="navbar-default">
        <li><a class="logoA" href="#LF"><img class="logo" src="{% static 'img/lfagency-logo.png'%}" alt="logo"></a></li>
        <li><a href="#about">A propos</a></li>
        <li><a href="#services">Services</a></li>
        <li id="contactbtn"><a href="#contact">Contact</a></li>
    </ul>
    </div>
  <div class="container" id="LF">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="zoom" src="{{carousel.0.image.url}}" alt="img1" style="width:100%; object-fit: contain; position:absolute;">
          <div class="legend"><p>{{carousel.0.texte}}</p><p>À partir de {{carousel.0.prix}}€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          </div>
        <div class="item">
          <img class="zoom"src="{{carousel.1.image.url}}" alt="img2" style="width:100%; object-fit: contain;">                           
          <div class="legend"><p>{{carousel.1.texte}}</p><p>À partir de {{carousel.1.prix}}€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          <div class="carousel-caption" style="text-align: center; object-fit:cover;
          vertical-align: middle;">
          </div>
        </div>
        <div class="item">
          <img class="zoom" src="{{carousel.2.image.url}}" alt="img3" style="width:100%; object-fit: cover;">
          <div class="legend"><p>{{carousel.2.texte}}</p><p>À partir de {{carousel.2.prix}}€</p></div>
          <a class="btn" href="#services"> Plus de détails > </a>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="about" class="about">
      <h3>LifeStyle Agency</h3>
      <div class="deco"></div>
      <div class="write">
        <p>Lifestyle agency est une société de service de luxe.
On peut y retrouver des services de ventes mais aussi des services de locations de prestiges.
L’idée provient tout simplement du créateur de l’agence.
Qui voulait mettre en place des services de luxe pour deux types de clientèle d’un côté, les gens ayant les moyens de s’offrir les meilleurs services aux meilleurs prix  tels que les jets privé les yachts…
D’un autre côté, des services de luxe accessibles à tous.
Car nous savons que c’est le rêve de beaucoup de pouvoir rouler en voiture de luxe avec ou sans chauffeur.</p>

  <p> De pouvoir s’habiller avec les habits de vos rêves.
Les plus grandes marques de luxe dont vous avez toujours rêvé.
Tout les services de luxe sont disponibles dans l’agence.

Encore toute nouvelle,
L’agence effectue ses débuts avec de nombreuses personnalités tels que: des artistesp encore des joueurs de foot professionnel. 


Alors n’attendez plus pour toutes prestation de service de luxe.
Contacter nous sur Instagram.
Ou par mail</p>
  <div class="chiffre">
        <div class="chi"><img src="{% static 'img/lfagency-logo.png'%}" alt="logo"></div>
        <div class="chi"><img src="{% static 'img/lfagency-logo.png'%}" alt="logo"></div>
      </div>
      </div>
    </div>
    <div id="services" class="services">
      <h3>Services</h3>
      <div class="deco"></div>
      <div class="ligneservice">
        <div>
          <div id="Immersion" class="s"><img src="{{services.0.icon.url}}"></div>
          <h4>{{services.0.title}}</h4>
        </div>
        <div>
          <div id="Prestige" class="s"><img src="{{services.1.icon.url}}"></div>
          <h4>{{services.1.title}}</h4>
        </div>
      </div>
      <div class="ligneservice">
        <div>
          <div id="Uber" class="s"><img src="{{services.2.icon.url}}"></div>
          <h4>{{services.2.title}}</h4>
        </div>
        <div>
          <div id="Air" class="s"><img src="{{services.3.icon.url}}"></div>
          <h4>{{services.3.title}}</h4>
        </div>
    </div>
  </div>
  </div>
</body>
</html>